<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="text-center">
  <div class="container">
    <div class="row">

      <div class="col-sm-12">
        <img class="img-fluid" src="https://www.chronometre-en-ligne.com/images/logo-chronometre-en-ligne.png" alt="site-logo">
      </div>

      <div class="col-sm-12">
        <div id= "chronometre">{{time}}</div><!--le | permet de choisir comment afficher un mombre -->
      </div>

    </div>

    <div class="bloc-btn">
      <div *ngIf="!isStarted" class="button green" (click)="startSwitch()" >Démarrer</div>
      <div *ngIf="isStarted && !isPause" class="button red" (click)="pauseChrono()" >Pause</div>
      <div *ngIf="isStarted && isPause" class="button red" (click)="effacerChrono()">Effacer</div>
      <div *ngIf="isStarted && !isPause" class="button grey" (click)="()">Retenir</div>
      <div *ngIf="isStarted && isPause" class="button grey" (click)="startSwitch()">Continuer</div>
    </div>

    <table class="table table-bordered table-hover mt-4">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Duration</th>
            <th scope="col">Note</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th scope="row">
              <button type="button" class="btn btn-sm btn-outline-danger">
                x
              </button>
            </th>

            <td>
             000.000.876
            </td>

            <td>
              <div class="form-group">
                <input>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</body>
</html>